# Build output
dist/

# Generated types & Astro cache
.astro/

# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# System & editor files
.DS_Store
Thumbs.db
*.log
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
